In [36]:
import os
cwd = os.getcwd()
root = os.path.dirname(os.path.dirname(cwd))
import sys
sys.path.append(root)

print("cwd  : ", cwd)
print("root : ", root)

cwd  :  /home/rahulsunita/workspace/adventofcode-2024/src/day01
root :  /home/rahulsunita/workspace/adventofcode-2024

In [37]:
from src.libs.utils import load_input_lines

#### Part 1 Sample

In [38]:
input_file = "input1.txt"
ex1_data = load_input_lines(os.path.join(cwd, "inputs", input_file))
ex1_expected = 11

3   4
4   3
2   5
1   3
3   9
3   3

In [39]:
ex1_data1 = [[],[]]
for item in ex1_data:
    nleft,nright = item.split("   ")
    nleft,nright = int(nleft.strip()),int(nright.strip())
    ex1_data1[0].append(nleft)
    ex1_data1[1].append(nright)
ex1_data1[0].sort()
ex1_data1[1].sort()
ex1_data1

[[1, 2, 3, 3, 3, 4], [3, 3, 3, 4, 5, 9]]

In [40]:
ex1_data2 = [abs(item1 - item2) for item1, item2 in zip(ex1_data1[0], ex1_data1[1])]
ex1_data2

[2, 1, 0, 1, 2, 5]

In [41]:
ex1_data3 = sum(ex1_data2)
ex1_data3

11

In [42]:
ex1_data3 == ex1_expected

True

### Part 1 Sample Output : 11

### Part 1

In [43]:
input_file = "input2.txt"
p1_data = load_input_lines(os.path.join(cwd, "inputs", input_file))

64256   78813
46941   56838
47111   50531
48819   41511
54871   96958
97276   63446
91790   76995
51405   43195
99980   46417
74608   18059
26255   90566
.
.
.

990 rows more.

In [44]:
p1_data1 = [[],[]]
for item in p1_data:
    nleft,nright = item.split("   ")
    nleft,nright = int(nleft.strip()),int(nright.strip())
    p1_data1[0].append(nleft)
    p1_data1[1].append(nright)
p1_data1[0].sort()
p1_data1[1].sort()

nCount = 10
count = 0
for item1, item2 in zip(p1_data1[0], p1_data1[1]):
    count += 1
    print(item1, " ",item2)
    if count > nCount:
        print(".\n.\n.\n\n{} rows more.".format(len(p1_data1[0]) - nCount))
        break

10030   10155
10065   10254
10146   10338
10187   10519
10193   11046
10216   11155
10250   11211
10273   11257
10283   11257
10324   11257
10465   11257
.
.
.

990 rows more.

In [45]:
p1_data2 = [abs(item1 - item2) for item1, item2 in zip(p1_data1[0], p1_data1[1])]

nCount = 10
count = 0
for item1 in p1_data2:
    count += 1
    print(item1)
    if count > nCount:
        print(".\n.\n.\n\n{} rows more.".format(len(p1_data2) - nCount))
        break

125
189
192
332
853
939
961
984
974
933
792
.
.
.

990 rows more.

In [46]:
p1_data3 = sum(p1_data2)
p1_data3

2166959

### Part 1 Output : 2166959

### Part 2 Sample

In [47]:
input_file = "input1.txt"
ex2_data = load_input_lines(os.path.join(cwd, "inputs", input_file))
ex2_expected = 31

3   4
4   3
2   5
1   3
3   9
3   3

In [48]:
ex2_data1 = [[],[]]
for item in ex2_data:
    nleft,nright = item.split("   ")
    nleft,nright = int(nleft.strip()),int(nright.strip())
    ex2_data1[0].append(nleft)
    ex2_data1[1].append(nright)
ex2_data1

[[3, 4, 2, 1, 3, 3], [4, 3, 5, 3, 9, 3]]

In [49]:
ex2_data2 = [item * ex2_data1[1].count(item) for item in ex2_data1[0]]
ex2_data2

[9, 4, 0, 0, 9, 9]

In [50]:
ex2_data3 = sum(ex2_data2)
ex2_data3

31

In [51]:
ex2_data3 == ex2_expected

True

### Part 2 Sample Output : 31

### Part 2

In [52]:
input_file = "input2.txt"
p2_data = load_input_lines(os.path.join(cwd, "inputs", input_file))

64256   78813
46941   56838
47111   50531
48819   41511
54871   96958
97276   63446
91790   76995
51405   43195
99980   46417
74608   18059
26255   90566
.
.
.

990 rows more.

In [53]:
p2_data1 = [[],[]]
for item in p2_data:
    nleft,nright = item.split("   ")
    nleft,nright = int(nleft.strip()),int(nright.strip())
    p2_data1[0].append(nleft)
    p2_data1[1].append(nright)

nCount = 10
count = 0
for item1, item2 in zip(p2_data1[0], p2_data1[1]):
    count += 1
    print(item1, " ",item2)
    if count > nCount:
        print(".\n.\n.\n\n{} rows more.".format(len(p2_data1[0]) - nCount))
        break

64256   78813
46941   56838
47111   50531
48819   41511
54871   96958
97276   63446
91790   76995
51405   43195
99980   46417
74608   18059
26255   90566
.
.
.

990 rows more.

In [54]:
p2_data2 = [item * p2_data1[1].count(item) for item in p2_data1[0]]

nCount = 10
count = 0
for item1 in p2_data2:
    count += 1
    print(item1)
    if count > nCount:
        print(".\n.\n.\n\n{} rows more.".format(len(p2_data2) - nCount))
        break

0
0
0
0
0
0
0
0
0
0
0
.
.
.

990 rows more.

In [55]:
p2_data3 = sum(p2_data2)
p2_data3

23741109

### Part 2 Output : 23741109